@{
    ViewData["Title"] = "Blob Page";
}


<h1>Upload blob</h1>
<form method="post" enctype="multipart/form-data">
    <div>
        <p>Upload a file:</p>
        <input type="file" name="file" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>